html {
  position: relative;
}
.test-img {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url(/assets/images/bg-sunny.jpg);
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(60%);
}
.page {
  border-radius: 10px;
  min-height: 80vh;
  margin-top: 5%;
  margin-bottom: 5%;
}

.submit-button i {
  color: gold;
  cursor: pointer;
  font-size: 30px;
}

.card-img-top {
  padding-top: 2em;
  width: 100px;
}
